In [36]:
import pandas as pd
import numpy as np

#chargement et affichage des données
data = pd.read_csv('p2-arbres-fr.csv')
data.head()

  id;type_emplacement;domanialite;arrondissement;complement_addresse;numero;lieu;id_emplacement;libelle_francais;genre;espece;variete;circonference_cm;hauteur_m;stade_developpement;remarquable;geo_point_2d_a;geo_point_2d_b
0  99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
1  99875;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
2  99876;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
3  99877;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
4  99878;Arbre;Jardin;PARIS 17E ARRDT;;;PARC CLIC...

In [37]:
#On remarque que le tableau ne comporte qu'une seule colonne et 200k lignes
data.shape

(200137, 1)

In [38]:
data_array = np.array(data)
data_array[0, :]

array(['99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E;19;Marronnier;Aesculus;hippocastanum;;20;5;;0;48.8576199541;2.3209621099'],
      dtype=object)

In [39]:
#On change le nom de la colonne illisible
df_valeurs = pd.DataFrame(data_array, columns=['Valeurs'])
df_valeurs

                                                  Valeurs
0       99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
1       99875;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
2       99876;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
3       99877;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
4       99878;Arbre;Jardin;PARIS 17E ARRDT;;;PARC CLIC...
...                                                   ...
200132  2024741;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200133  2024742;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200134  2024743;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200135  2024744;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200136  2024745;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...

[200137 rows x 1 columns]

In [40]:
#on constate que dans l'unique colonne il y a de nombreuses informations mal séparé par des points virgules
#on crée un nouveau tableau avec de bonne colonne et on y mettra les valeurs correspondantes
data_corrected = np.zeros((200137, 10))
df = pd.DataFrame(data_corrected, columns=['Identifiant', 'Type', 'Emplacement', 
                                 'Domanialité', 'Libellé français', 'Genre', 'Espèce', 'Variété',
                                'Circonférence (cm)', 'Hauteur (cm)'])
df

,Identifiant,Type,Emplacement,Domanialité,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (cm)
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
200132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
#on va remplir le tableau avec les valeurs correspondantes
df['Identifiant'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[0]
df['Type'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[1]
df['Emplacement'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[2]
df['Domanialité'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[3]
df['Libellé français'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[8]
df['Genre'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[9]
df['Espèce'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[10]
df['Variété'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[11]
df['Circonférence (cm)'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[12]
df['Hauteur (cm)'] = df_valeurs['Valeurs'].str.split(';', n=18, expand=True)[13]

In [42]:
df

,Identifiant,Type,Emplacement,Domanialité,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (cm)
0,99874,Arbre,Jardin,PARIS 7E ARRDT,Marronnier,Aesculus,hippocastanum,,20,5
1,99875,Arbre,Jardin,PARIS 7E ARRDT,If,Taxus,baccata,,65,8
2,99876,Arbre,Jardin,PARIS 7E ARRDT,If,Taxus,baccata,,90,10
3,99877,Arbre,Jardin,PARIS 7E ARRDT,Erable,Acer,negundo,,60,8
4,99878,Arbre,Jardin,PARIS 17E ARRDT,Arbre à miel,Tetradium,daniellii,,38,0
...,...,...,...,...,...,...,...,...,...,...
200132,2024741,Arbre,Jardin,BOIS DE VINCENNES,,Castanea,fargesii,,0,0
200133,2024742,Arbre,Jardin,BOIS DE VINCENNES,Arbre aux mouchoirs,Davidia,involucrata,,0,0
200134,2024743,Arbre,Jardin,BOIS DE VINCENNES,Peuplier,Populus,simonii,,0,0
200135,2024744,Arbre,Jardin,BOIS DE VINCENNES,Chêne,Quercus,n. sp.,,0,0
200136,2024745,Arbre,Jardin,BOIS DE VINCENNES,Raisinier,Hovenia,dulcis,,0,0

In [44]:
#on modifie le type et l'échelle de valeur pour pouvoir les traiter correctement
df['Circonférence (cm)'] = df['Circonférence (cm)'].astype(int)
df['Hauteur (cm)'] = df['Hauteur (cm)'].astype(int)

In [45]:
df['Hauteur (cm)'] = df['Hauteur (cm)'] * 100

In [46]:
df

,Identifiant,Type,Emplacement,Domanialité,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (cm)
0,99874,Arbre,Jardin,PARIS 7E ARRDT,Marronnier,Aesculus,hippocastanum,,20,500
1,99875,Arbre,Jardin,PARIS 7E ARRDT,If,Taxus,baccata,,65,800
2,99876,Arbre,Jardin,PARIS 7E ARRDT,If,Taxus,baccata,,90,1000
3,99877,Arbre,Jardin,PARIS 7E ARRDT,Erable,Acer,negundo,,60,800
4,99878,Arbre,Jardin,PARIS 17E ARRDT,Arbre à miel,Tetradium,daniellii,,38,0
...,...,...,...,...,...,...,...,...,...,...
200132,2024741,Arbre,Jardin,BOIS DE VINCENNES,,Castanea,fargesii,,0,0
200133,2024742,Arbre,Jardin,BOIS DE VINCENNES,Arbre aux mouchoirs,Davidia,involucrata,,0,0
200134,2024743,Arbre,Jardin,BOIS DE VINCENNES,Peuplier,Populus,simonii,,0,0
200135,2024744,Arbre,Jardin,BOIS DE VINCENNES,Chêne,Quercus,n. sp.,,0,0
200136,2024745,Arbre,Jardin,BOIS DE VINCENNES,Raisinier,Hovenia,dulcis,,0,0